$font-semibold: 600;

$orange: #f67e08;
$grey: #5e5e5e;

$responsive-screen: 992px;
$small-screen: 700px;

$primary: $orange;
$secondary: $grey;

// Crowdfunding
$one:        #dab19d; // #ff7061;
$two:       #f7ca8f;
$three:       #acbe82; // #78cc8a;
$four:          #9dc2d4; // #36bcd4;

$frama:         #6a5687 !default;
$soft:          #eb7239;
