@import "_variables";
@import "_mixins";

@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Proza Libre Regular'),
  local('Proza Libre-Regular'),
  url('../../public/fonts/proza-libre-v4-latin-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Proza Libre SemiBold'),
  local('Proza Libre-SemiBold'),
  url('../../public/fonts/proza-libre-v4-latin-600.woff2') format('woff2')
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../../public/fonts/pt-sans-v11-latin-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../../public/fonts/pt-sans-v11-latin-700.woff2') format('woff2')
}

/* Default */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  background-color: #ffad5c;
}

main {
  padding: 0 70px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35);
  border: solid 1px #d9d9d9;
}

.caret::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.jpt-button {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: $font-semibold;
  border: 3px solid $orange;
  border-radius: 4px;
  background-color: transparent;
  align-items: center;

  .icon {
    width: 18px;
    height: 18px;
  }
}

.jpt-button-light {
  border-width: 2px;
}

.section-title {
  font-size: 34px;
  font-weight: $font-semibold;
  margin: 100px 0;
  display: flex;
  align-items: center;
  font-family: 'Proza Libre', sans-serif;

  .border-title {
    margin-left: 40px;
    height: 3px;
    background-color: $orange;
    flex-grow: 1;
    margin-top: 6px;
  }

  .brand-title {
    margin-left: 10px;
    height: 40px;
    vertical-align: sub;
  }
}

.subtitle {
  font-family: 'Proza Libre', sans-serif;
  font-size: 24px;
  font-weight: $font-semibold;
  margin-top: 100px;
}

.one-column {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 30px 0;

    & + .citation {
      margin-top: 0 !important;
    }
  }
}

.bottom-link-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 30px 0;
}

.bottom-link {
  @include disable-default-a-behaviour;

  font-weight: $font-semibold;
  color: #000;

  .text {
    border-bottom: 3px solid $orange;
    padding: 0 5px;
    margin-right: 10px;
  }
}

.citation {
  display: flex;
  font-size: 24px;
  margin: 30px 0;

  .left-bar {
    margin-right: 10px;
    min-width: 8px;
    background-color: $orange;
  }

  & + img {
    margin-top: 0 !important;
  }
}
